extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main 
  if(role.permissions.includes("permissions_create")) 
    +alert-error(5000)
    h1(class="mb-4") Thêm mới quyền

    form(
      action=`${prefixAdmin}/roles/create`
      id="form-create-roles"
      method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        )
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          class="form-control"
          id="desc"
          name="description"
          rows="5"
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Thêm 
    script(src="/admin/js/product.js")
  else 
    h1(class="mb-4") Bạn không có quyền tạo mới nhóm quyền