extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .product-detail
    .container.my-5
      .row
        // Image section
        .col-md-6.mb-4
          .inner-thumb.border.rounded.p-3
            img.img-fluid(src=product.thumbnail, alt=product.title)

        // Info section
        .col-md-6
          h1.inner-title.mb-3 #{product.title}

          if product.category
            .inner-category.mb-2
              span.text-muted Danh mục: 
              a(href=`/products/${product.category.slug}/`, class="ml-1 text-decoration-none") #{product.category.title}

          if product.priceNew
            .inner-price-new.text-danger.h4.mb-2 #{product.priceNew} đ

          if product.price
            .inner-price-old.text-muted.mb-2 
              del #{product.price} đ

          if product.discountPercentage
            .inner-percent.text-success.mb-2
              span.badge.bg-success Giảm tới #{product.discountPercentage} %

          if product.stock
            .inner-stock.mb-3.text-info 
              span Còn lại #{product.stock} sản phẩm

          form(action=`/cart/add/${product.id}`, method="POST")
            .form-group
              input.form-control(type="number", name="quantity", value="1", min="1", max=product.stock, required)

            button.btn.btn-success.btn-block.mt-3(type="submit") Thêm vào giỏ hàng

      hr.my-5

      .row
        .col-12
          +box-head("Mô tả sản phẩm")
          .inner-desc.mt-3 !{product.description}
