extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
  if(role.permissions.includes("products-category_create"))
    +alert-error(5000)
    h1(class="mb-4") Thêm mới danh mục

    form(
      action=`${prefixAdmin}/products-category/create`
      id="form-create-product"
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        )
      div(class="form-group")
        label(for="parent_id") Danh mục cha
        select(
          class="form-control"
          id="parent_id"
          name="parent_id"
        )
          option(value="") --Chọn danh mục cha--
          if(Categories)
            +select-tree(Categories)
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          class="form-control text-area-mce"
          id="desc"
          name="desc"
        )
      div(
        class="form-group"
        upload-image)
        label(for="thumbnail") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept="image/*"
          upload-image-input
        )
        div(image-preview)
          img(
            src=""
            upload-image-preview
          )
      div(class="form-group")
        label(for="position") Vị trí
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          min="1"
        )
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
      label(form="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInactive"
          name="status"
          value="inactive"
          checked
        )
      label(form="statusActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Thêm 
    script(src="/admin/js/product.js")
  else 
    h1(class="mb-4") Bạn không có quyền thêm mới danh mục
